<html>
<body>
<h1>Welcome {{username}}</h1>
<h3>Product List</h3>
<table border=1>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Price</td>
        <td>Qty</td>
    </tr>
    {{#products}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{qty}}</td>
        </tr>
    {{/products}}
</table>
</body>
</html>